<div *ngIf="animal" class="class">
  <h1>Detalhes do Animal</h1>

  <div class="item-card">
    <div class="item-title">
      <h2>{{ animal.name }}</h2>
      <p>{{ animal.id }}</p>
    </div>

    <div class="item-info">
      <ul>
        <li>
          Tipo:
          <p>{{ animal.type }}</p>
        </li>
        <li>
          Idade:
          <p>{{ animal.age }} anos</p>
        </li>
        <li>
          Descrição:
          <p>{{ animal.description }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
